// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section{
  margin: 33px;
}

h1{
  line-height: 18px;
  font-size: 26px;
}

strong{
  font-weight: bold;
}

p{
  line-height: 50px;
  font-size: 13px;
  margin: 20px 0 0 33px;
}